[Unit]
Description=Stop vendor.fps_hal (fingerprint HAL crash-loop floods logcat/logd)
After=lxc-android-config.service
Requires=lxc-android-config.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh /userdata/halium-stop-fps-spam.sh

[Install]
WantedBy=multi-user.target
