[Unit]
Description=Periodically check pulseaudio fell back to auto_null and retry once /vendor is ready

[Timer]
OnBootSec=20s
OnUnitActiveSec=20s
AccuracySec=5s

[Install]
WantedBy=timers.target
