[Unit]
Description=QRTR TFTP service

[Service]
ExecStart=/usr/bin/tqftpserv
Restart=always
StateDirectory=tqftpserv

[Install]
WantedBy=multi-user.target
