polkit.addRule(function(action, subject) {
    var noAuthActions = [
        "org.freedesktop.login1.reboot",
        "org.freedesktop.login1.reboot-multiple-sessions",
        "org.freedesktop.login1.reboot-ignore-inhibit",
        "org.freedesktop.login1.power-off",
        "org.freedesktop.login1.power-off-multiple-sessions",
        "org.freedesktop.login1.power-off-ignore-inhibit",
        "org.freedesktop.login1.suspend",
        "org.freedesktop.login1.suspend-multiple-sessions",
        "org.freedesktop.login1.suspend-ignore-inhibit"
    ];
    if (noAuthActions.indexOf(action.id) !== -1 && subject.user == "phablet") {
        return polkit.Result.YES;
    }
});
