[Unit]
Description=Periodically save NetworkManager/Bluetooth state and clock

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=10s

[Install]
WantedBy=timers.target
