[Unit]
Description=Periodically check phosh.service for stuck-with-no-client state

[Timer]
OnBootSec=60s
OnUnitActiveSec=30s
AccuracySec=5s

[Install]
WantedBy=timers.target
