[Unit]
Description=Load touch/wifi/camera kernel modules
After=lightdm.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/halium-load-touch-modules.sh

[Install]
WantedBy=multi-user.target
