[Unit]
Description=Load WCD938x/Bolero/Q6 audio kernel modules and trigger ADSP boot
After=lxc-android-config.service
Before=pulseaudio.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/halium-load-audio-modules.sh

[Install]
WantedBy=multi-user.target
